FileSharing/Service References/FSService/FSServer.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FSServer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FSServer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClientList">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Clients" nillable="true" type="q1:ArrayOfKeyValueOfintClientdn4XY6YA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientList" nillable="true" type="tns:ClientList" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ClientContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="complite" type="xs:int" />
      <xs:element minOccurs="0" name="recipient" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="sender" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="sizecomplite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientContract" nillable="true" type="tns:ClientContract" />
  <xs:complexType name="ArrayOfClientContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientContract" nillable="true" type="tns:ClientContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientContract" nillable="true" type="tns:ArrayOfClientContract" />
</xs:schema>