FileSharing/Service References/FSService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FSServer.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="GetClientOnlineResult" nillable="true" type="q1:ClientList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaths">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPathsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChatResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFoDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="cl" nillable="true" type="q4:ClientContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFoDownloadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerForRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerForRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListForDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListForDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="GetListForDownloadResult" nillable="true" type="q5:ArrayOfClientContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileToDownloadTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="cl" nillable="true" type="q6:ClientContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileToDownloadTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFileToDownloadTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileForDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="cl" nillable="true" type="q7:ClientContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileForDownloadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="clients" nillable="true" type="q8:ClientList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="clients" nillable="true" type="q9:ClientList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TcpListenerAccept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FSServer.Model" minOccurs="0" name="cl" nillable="true" type="q10:ClientContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TcpListenerAcceptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TcpListenerAcceptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTcpClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>